/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-locate-block .LocateSelectShortcode {
	padding: 20px;
	background-color: #008cba;
}
.wp-block-create-block-locate-block .LocateSelectShortcode h3 {
	text-align: center;
	margin: 0;
}
.locate_select_shortcode {
	max-width: 280px;
    align-items: center;
    margin: auto;
}
.locate_select_shortcode label {
	color: white;
}
.leaflet-filter-control {
	position: absolute;
	top: 10px;
	right: 10px;
	max-width: 200px;
	max-height: 300px;
    overflow-y: auto;
}
.outside-right .leaflet-filter-control,
.outside-left .leaflet-filter-control {
	position: relative;
	top: 0;
	right: 0;
	max-width: 230px;
	max-height: 300px;
    overflow-y: auto;
}
.outside-right .leaflet-filter-control {
	margin-left: 20px;
}
.outside-left .leaflet-filter-control {
    margin-right: 20px;
}

.outside-right .leaflet-control-layers-overlays,
.outside-left .leaflet-control-layers-overlays {
	padding: 10px;
}
.outside-right .leaflet-control-layers-expanded,
.outside-left .leaflet-control-layers-expanded {
	padding: 0px;
}
.outside-right,
.outside-left {
	// justify-content: space-between;
}