/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-locate-block .LocateSelectShortcode {
	padding: 20px;
	background-color: #008cba;
}
.wp-block-create-block-locate-block .LocateSelectShortcode h3 {
	text-align: center;
	margin: 0;
}
.locate_select_shortcode {
	max-width: 280px;
    align-items: center;
    margin: auto;
}
.locate_select_shortcode label {
	color: white;
}

